@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}
#app {
  .el-input__wrapper {
    &.is-focus {
      box-shadow: none;
    }
  }
}
.game-tabs {
  &.el-tabs--border-card {
    @apply bg-transparent;
    &.el-tabs--border-card {
      .el-tabs__header {
        @apply bg-tabs;
        .el-tabs__item + .el-tabs__item {
          @apply text-activeTabs;
        }
        .el-tabs__item.is-active {
          @apply bg-activeTabs;
          @apply text-white;
        }
      }
    }
  }
}
.game-FullScreen {
  &.common-layout {
    background-size: 100% 100%;
    background: url('../images/bg.png') center no-repeat;
    .el-dialog__body {
      height: calc(100% - 50px);
    }
  }
}
.common-layout {
  background-size: 100% 100%;
  background: url('../images/bg.png') center no-repeat;
  .el-container {
    min-height: 100vh;
  }
}
.game-page {
  &.is-background.el-pagination {
    .el-pagination__total {
      @apply text-custom-header;
    }
    .el-pager li {
      @apply bg-page;
      @apply text-white;
    }
    .btn-next,
    .btn-prev {
      @apply bg-page;
      @apply text-white;
    }
    .btn-next:disabled,
    .btn-prev:disabled {
      @apply bg-tabs;
      @apply text-gray-500;
    }
  }
}
.header {
  &-search {
    .el-input .el-input__icon {
      @apply text-white;
    }
    .el-input {
      border-radius: 20px;
    }
    .el-input__wrapper {
      @apply bg-search;
      box-shadow: none;
      border-radius: 20px;
    }
    .el-input__inner {
      @apply text-white;
    }
  }
}
